.App{
height: 100vh;
width: 100vw;
display: flex;  
position: relative;
}

#Box1{
height: 100%;
width: 50vw;
display: flex; 
justify-content: center;
align-items: center;
}

#Box2{
  height: 100%;
  width: 50vw;
  display: flex; 
 
  justify-content: flex-start;
  align-items: flex-end;
 
  }

#Box3{
  height: 35%;
  width: 35%;
  position: absolute;
  font-size: 35px;;
  top:30%;
  left: 39%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}  

#chair1{
  height: 55%;
  width: 50%;
  position: relative;
}
img{
  object-fit: fill;
  width: 100%;
  height: 100%;
  
}

#TextChair1{
position: absolute;
bottom: 35px;
height: 17%;
width: 100%;
background-color: white;
padding-bottom: 20px;

padding-left: 20px;


}

#TextChair2{
  position: absolute;

  height: 9%;
  width: 25%;
  background-color: white;
  padding-bottom: 20px;
  
  padding-left: 20px;
  
  
  }

strong{
 font-size: 32px; 
}

span{
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 15px;
}

